@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
main {
    background-image: url(../../assets/images/1.jpg);
    background-size: cover;
    background-position:center;
    width: 95vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 2s;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 3rem;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}
