.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;

    .column {
        display: flex;
        flex-direction: column;
        width: 49%;
    }
    img {
        padding-bottom: 15px;
        border-radius: 5px;
    }
}