<div class="gallery">
    <div class="column">
      <img src="../../assets/images/6.jpg" >
      <img src="../../assets/images/11.jpg" >
      <img src="../../assets/images/dunes.jpg" >
      <img src="../../assets/images/10-3.jpg" >
      <img src="../../assets/images/47.jpg" >
      <img src="../../assets/images/hoopers.jpg" >
    </div>
    <div class="column">
      <img src="../../assets/images/4-4.jpg" >
      <img src="../../assets/images/DSC_0125.jpg" >
      <img src="../../assets/images/43-3.jpg" >
      <img src="../../assets/images/blackhole.jpg" >
      <img src="../../assets/images/arches.jpg" >
      <img src="../../assets/images/35-1.jpg" >
    </div>
</div>
