@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
main {
    background-image: url(../../assets/images/4-2.jpg);
    background-size: cover;
    background-position:center;
    width: 90dvw;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 2s;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        //background-color: rgba(255, 255, 255, 0.23);
        border-radius: 15px;
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 200%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    transition: all 1s ease;
    span {
        font-family: 'Press Start 2P', sans-serif !important;
    }
    .mat-icon {
        padding-right: 0px;
        margin: 0px;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .brand{
        font-size: 1.75rem;
        padding-left: 15px;
        animation: slideIn 1s;
    }
    #navlinks {
        animation: fadeIn 2s;
    }
}