<header>
    <mat-toolbar color="secondary">
      <span class="brand">NOBLEROVER</span>
      <span class="spacer"></span>
      <mat-icon id="navlinks">camera</mat-icon>
      <mat-icon id="navlinks">alternate_email</mat-icon>
    </mat-toolbar>
</header>

<main class="container-fluid" id="background">
    <div class="row">
        <a href="#" class="street" (mouseenter)="streetPreview()" (mouseleave)="resetBackground()">STREET</a>
        <a href="#" class="landscape" (mouseenter)="landscapePreview()" (mouseleave)="resetBackground()">LANDSCAPE</a>
        <a href="#" class="humans" (mouseenter)="humansPreview()" (mouseleave)="resetBackground()">HUMANS</a>
    </div>
</main>
