<div class="gallery">
    <div class="column">
      <img src="../../assets/images/3.jpg" >
      <img src="../../assets/images/50.jpg" >
      <img src="../../assets/images/37.jpg" >
      <img src="../../assets/images/2-1.jpg" >
      <img src="../../assets/images/3-2.jpg" >
      <img src="../../assets/images/30.jpg" >
    </div>
    <div class="column">
      <img src="../../assets/images/31.jpg" >
      <img src="../../assets/images/35.jpg" >
      <img src="../../assets/images/3-1.jpg" >
      <img src="../../assets/images/4-2.jpg" >
      <img src="../../assets/images/4-5.jpg" >
      <img src="../../assets/images/54.jpg" >
    </div>
</div>
