header {
    span {
        font-family: 'Press Start 2P', sans-serif !important;
        padding-top: 2px;

    }
    .mat-icon {
        padding: 0px;
        margin: 4px;
    }
    .spacer {
        flex: 1 1 auto;
    }
}