<div class="gallery">

      <div class="column">
        <img src="../../assets/images/1-sm.jpg" >
        <img src="../../assets/images/12.jpg" >
        <img src="../../assets/images/10-2.jpg" >
        <img src="../../assets/images/16.jpg" >
      </div>
      <div class="column">
        <img src="../../assets/images/union.jpg" >
        <img src="../../assets/images/4.jpg" >
        <img src="../../assets/images/IMG_3516.jpg" >
      </div>
      <div class="column">
        <img src="../../assets/images/8-sm.jpg" >
        <img src="../../assets/images/2.jpg" >
        <img src="../../assets/images/14.jpg" >
        <img src="../../assets/images/DSC_0626.jpg" >
      </div>

</div>
